{% load static %}

<div class="mdl-layout__drawer">
    <header>پنل کاربران</header>
    <div class="scroll__wrapper" id="scroll__wrapper">
        <div class="scroller" id="scroller">
            <div class="scroll__container" id="scroll__container">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link mdl-navigation__link--current" href="{% url 'account:home' %}">
                        <i class="material-icons">home</i>
                        صفحه اصلی
                    </a>
                    <a class="mdl-navigation__link" href="{% url 'account:food_create' %}">
                        <i class="material-icons">add_box</i>
                        افزودن غذا
                    </a>
                    <a class="mdl-navigation__link" href="forms.html">
                        <i class="material-icons" role="presentation">person</i>
                        پروفایل
                    </a>
                    <div class="mdl-layout-spacer"></div>
                    <hr>
                </nav>
            </div>
        </div>
        <div class='scroller__bar' id="scroller__bar"></div>
    </div>
</div>