{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>yamifood|fastfood</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'myrest/images/golden.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'myrest/images/golden.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'myrest/css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'myrest/css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'myrest/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'myrest/css/custom.css' %}">

    <link rel="stylesheet" href="{% static 'myrest/css/rtl.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% include 'myrest/partials/header.html' %}

{% block content %}

{% endblock %} 

{% include 'myrest/partials/footer.html' %}

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="{% static 'myrest/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'myrest/js/popper.min.js' %}"></script>
<script src="{% static 'myrest/js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'myrest/js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'myrest/js/images-loded.min.js' %}"></script>
<script src="{% static 'myrest/js/isotope.min.js' %}"></script>
<script src="{% static 'myrest/js/baguetteBox.min.js' %}"></script>
<script src="{% static 'myrest/js/form-validator.min.js' %}"></script>
<script src="{% static 'myrest/js/contact-form-script.js' %}"></script>
<script src="{% static 'myrest/js/custom.js' %}"></script>
</body>
</html>
