<div class="collapse navbar-collapse" id="navbars-rs-food">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" href="{% url 'foods:home' %}">خانه</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">منو </a>
            <div class="dropdown-menu" aria-labelledby="dropdown-a">
                {% for cat in Categories %}
                <a class="dropdown-item" href="{% url 'foods:category' cat.slug %}">{{cat.title}}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'reserve:home' %}">رزرو</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'blog:home' %}">وبلاگ</a></li>
        <li class="nav-item "><a class="nav-link" href="{% url 'account:login' %}">ورود</a></li>
    </ul>
</div>

