<!-- Start Footer -->
<footer class="footer-area bg-f myfont">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>درباره ما</h3>
                <p>ارایهٔ غذا در رستوران با همکاری همهٔ کارمندان رستوران انجام می‌شود. چینش ادوات غذاخوری، ارایهٔ منو و دریافت سفارش از میهمانان و ارایهٔ غذا به ایشان، تحویل صورت‌حساب، دریافت وجه و در پایان مرتب‌ساختن و پیراستن میز از وظایف کارکنان رستوران است . پخت غذا نیز از وظایف آشپزها به‌شمار می‌آید. </p>
            </div>
            <div class="col-lg-3 col-md-6 myfont">
                <h3>ساعات کاری</h3>
                <p><span class="text-color">جمعه: </span>تعطیل</p>
                <p><span class="text-color">چهارشنبه-پنجشنبه :</span> 5:00 - 11:30</p>
                <p><span class="text-color">دوشنبه-سه شنبه :</span> 12:00 - 11:30</p>
                <p><span class="text-color">شنبه-یکشنبه :</span> 12:00 - 11:30</p>
            </div>
            <div class="col-lg-3 col-md-6 myfont">
                <h3>اطلاعات رستوران</h3>
                <p class="lead">خ نبرد جنوبی ,فرهنگسرای خاوران , همکف , سالن مطالعه برادران</p>
                <p class="lead"> تلفن : <a href="#"> 9090 98+</a></p>
                <p class="lead" >ایمیل :<a href="#"> Yamifood.f@email.com</a></p>
            </div>
            <div class="col-lg-3 col-md-6 myfont">
                <h3>اشتراک </h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="ایمیل شما..." type="email">
                        <button type="submit" class="submit">اشتراک</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social myfont">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
</footer>
<!-- End Footer -->
